.navbar {
    padding: 0;
    height: 50px;
    width: 100%;
    background-color: #0071e0;
}

.navbar-brand {
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    font-size: 25px;
    color: whitesmoke;
}

.navbar-brand:hover {
    color: whitesmoke;
}

.navbar-nav {
    height: 100%;
    width: 100%;
}

.nav-link {
    width: 120px;
    font-size: 18px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
}

.nav-link:hover {
    color: whitesmoke;
}

.main-page {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.login-form {
    padding: 20px;
    border-left: 2px solid #333;
}

.btn {
    color: white;
    background-color: #0071e0;
}

.btn:hover {
    color: whitesmoke;
    background-color: #1b64ab;
}

.sign-up {
    margin-top: 100px;
}